In [1]:
import pandas as pd

In [2]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
        'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
        'Sales':[200,120,340,124,243,350]}

In [3]:
df=pd.DataFrame(data)

In [4]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [13]:
df['Sales']=pd.to_numeric(df['Sales'], errors='coerce')

In [14]:
df.groupby('Company')

In [15]:
by_comp=df.groupby("Company")

In [48]:
by_comp = df.groupby('Company')['Sales'].mean()

In [23]:
print(by_comp)

Company
FB      296.5
GOOG    160.0
MSFT    232.0
Name: Sales, dtype: float64

In [49]:
df.groupby('Company')['Sales'].mean()

Company
FB      296.5
GOOG    160.0
MSFT    232.0
Name: Sales, dtype: float64

In [50]:
by_comp.std()

68.28433202426454

In [51]:
by_comp.min()

160.0

In [52]:
by_comp.max()

296.5

In [53]:
by_comp.count()

3

In [29]:
by_comp.describe()

count      3.000000
mean     229.500000
std       68.284332
min      160.000000
25%      196.000000
50%      232.000000
75%      264.250000
max      296.500000
Name: Sales, dtype: float64

In [36]:
by_comp.describe().transpose()

count      3.000000
mean     229.500000
std       68.284332
min      160.000000
25%      196.000000
50%      232.000000
75%      264.250000
max      296.500000
Name: Sales, dtype: float64