In [1]:
# Step 1: Import necessary libraries
import pandas as pd

In [3]:
# Step 2: Load the data using Pandas
df = pd.read_csv(r'C:\Users\ungdu\Downloads\Lab_1+2\Lab_2\job_market.csv')

In [6]:
# Step 3: Visualize top 10 first rows
print("Top 10 rows of the data:")
print(df.head(10))

Top 10 rows of the data:
         Id                                              Title  \
0  37404348                           Casual Stock Replenisher
1  37404337                           Casual Stock Replenisher
2  37404356  RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...
3  37404330                              Team member - Belrose
4  37404308  Business Banking Contact Centre Specialist, Ni...
5  37404307  Business Banking Contact Centre Specialist, Ni...
6  37404355               Casual Café All-rounder in Semaphore
7  37404350           Casual Café All-rounder in Woolloongabba
8  37404301                                       Telemarketer
9  37404286                       Casual Dish Hand in Brighton

                                          Company                      Date  \
0                                     Aldi Stores  2018-10-07T00:00:00.000Z
1                                     Aldi Stores  2018-10-07T00:00:00.000Z
2                             LB Creative Pty Ltd  2018-10-07T00:00:00.000Z
3                          Anaconda Group Pty Ltd  2018-10-07T00:00:00.000Z
4  Commonwealth Bank - Business & Private Banking  2018-10-07T00:00:00.000Z
5  Commonwealth Bank - Business & Private Banking  2018-10-07T00:00:00.000Z
6                                      Jora Local  2018-10-07T00:00:00.000Z
7                                      Jora Local  2018-10-07T00:00:00.000Z
8                            Reventon Investments  2018-10-07T00:00:00.000Z
9                                      Jora Local  2018-10-07T00:00:00.000Z

                  Location                             Area  \
0                   Sydney      North West & Hills District
1    Richmond & Hawkesbury                              NaN
2                 Brisbane              CBD & Inner Suburbs
3  Gosford & Central Coast                              NaN
4                   Sydney            Ryde & Macquarie Park
5                   Sydney            Ryde & Macquarie Park
6                 Adelaide                              NaN
7                 Brisbane              CBD & Inner Suburbs
8                Melbourne              CBD & Inner Suburbs
9                Melbourne  Bayside & South Eastern Suburbs

                   Classification               SubClassification  \
0      Retail & Consumer Products               Retail Assistants
1      Retail & Consumer Products               Retail Assistants
2      Retail & Consumer Products               Retail Assistants
3      Retail & Consumer Products               Retail Assistants
4  Call Centre & Customer Service                 Sales - Inbound
5  Call Centre & Customer Service  Customer Service - Call Centre
6           Hospitality & Tourism                   Waiting Staff
7           Hospitality & Tourism                   Waiting Staff
8  Call Centre & Customer Service                Sales - Outbound
9           Hospitality & Tourism        Kitchen & Sandwich Hands

                                         Requirement FullDescription  \
0  Our Casual Stock Replenishers pride themselves...             NaN
1  Our Casual Stock Replenishers pride themselves...             NaN
2  BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA             NaN
3  Bring it on - do you love the great outdoors a...             NaN
4  We are seeking highly articulate, enthusiastic...             NaN
5  We are seeking highly articulate, enthusiastic...             NaN
6  A cafe/restaurant in Semaphore is seeking a ca...             NaN
7  A cafe in Woolloongabba is seeking a casual Ca...             NaN
8  Market leading investment & financial services...             NaN
9  A restaurant in Brighton is seeking a casual D...             NaN

   LowestSalary  HighestSalary JobType
0             0             30     NaN
1             0             30     NaN
2             0             30     NaN
3             0             30     NaN
4             0             30     NaN
5             0             30     NaN
6             0             30     NaN
7             0             30     NaN
8             0             30     NaN
9             0             30     NaN

In [9]:
# Step 4: Fix column datatypes
# Assuming 'Date' column needs to be converted to datetime datatype
df['Date'] = pd.to_datetime(df['Date'])

In [11]:

# Step 5: Check for missing values and clean the data
# Check for missing values
print("\nMissing values in the dataset:")
print(df.isnull().sum())

Missing values in the dataset:
Id                      0
Title                   0
Company               616
Date                    0
Location                0
Area                 3707
Classification          0
SubClassification       0
Requirement             0
FullDescription       256
LowestSalary            0
HighestSalary           0
JobType               247
dtype: int64

In [13]:
# Dropping the 'Area' column
df.drop(columns=['Area'], inplace=True)

In [14]:
# Check if cleaning is successful
print("\nAfter cleaning:")
print(df.head())

After cleaning:
         Id                                              Title  \
0  37404348                           Casual Stock Replenisher
1  37404337                           Casual Stock Replenisher
2  37404356  RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...
3  37404330                              Team member - Belrose
4  37404308  Business Banking Contact Centre Specialist, Ni...

                                          Company                      Date  \
0                                     Aldi Stores 2018-10-07 00:00:00+00:00
1                                     Aldi Stores 2018-10-07 00:00:00+00:00
2                             LB Creative Pty Ltd 2018-10-07 00:00:00+00:00
3                          Anaconda Group Pty Ltd 2018-10-07 00:00:00+00:00
4  Commonwealth Bank - Business & Private Banking 2018-10-07 00:00:00+00:00

                  Location                  Classification  SubClassification  \
0                   Sydney      Retail & Consumer Products  Retail Assistants
1    Richmond & Hawkesbury      Retail & Consumer Products  Retail Assistants
2                 Brisbane      Retail & Consumer Products  Retail Assistants
3  Gosford & Central Coast      Retail & Consumer Products  Retail Assistants
4                   Sydney  Call Centre & Customer Service    Sales - Inbound

                                         Requirement FullDescription  \
0  Our Casual Stock Replenishers pride themselves...             NaN
1  Our Casual Stock Replenishers pride themselves...             NaN
2  BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA             NaN
3  Bring it on - do you love the great outdoors a...             NaN
4  We are seeking highly articulate, enthusiastic...             NaN

   LowestSalary  HighestSalary JobType
0             0             30     NaN
1             0             30     NaN
2             0             30     NaN
3             0             30     NaN
4             0             30     NaN